.counter{
  margin:0;
  position:absolute;
  top:0;
  right:40%;
  padding:0;
  font-size: 40px;
}

button{
  margin:0;
  padding:20px;
  background-color: #B6E1E7;
  border:0;

}
.button1{
  position:absolute;
  left:0;
}
.button2{

  position:absolute;
  right:0;

}
.reset{
  position:absolute;
  top:10%;
  right:50%;
}

